In [120]:
import numpy as np
import pandas as pd

import datapane as dp

from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import TweetTokenizer

from chord import Chord
from IPython.display import IFrame

In [121]:
df = pd.read_csv('../modelling/jobs_desc.csv')
df.head(1)

,Title,Location,salary_period,mid_salary,Employees,Industry,Revenue,description,years_exp,title_category
0,high statistical data scientist g,London,year,28996.0,no_data,no_data,no_data,role require apply knowledge statistic program...,no_data,Scientist

In [122]:
hard_skills = ['sql','python',' r ','tensorflow','pytorch','deep learning','machine learning',
               'spark','statistics','aws','bigquery','hadoop','java','scala','nlp','etl','matlab',
               'scikit','numpy','keras','computer vision','tableau','looker','powerbi']

In [123]:
soft_skills = ['team work','communication',' management ','project management','stakeholder management',
               'insight','commercial','present','impact','production']

In [124]:
tk = TweetTokenizer()
desc_cvec = CountVectorizer(ngram_range=(1,2),tokenizer=tk.tokenize)

In [125]:
desc_cvec.fit(df['description'])
desc_vec = desc_cvec.transform(df['description']).todense()
cols = desc_cvec.get_feature_names()
df_words = pd.DataFrame(desc_vec, columns = cols)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/feature_extraction/text.py:507: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn("The parameter 'token_pattern' will not be used"

In [140]:
hard_skills_2=[i.strip() for i in hard_skills]

In [141]:
df_plot = df_words[hard_skills_2]

In [145]:
def create_zeros(df):
    df = df.copy()
    size = df.shape[0]
    sizes = []
    for i in range(size):
        sizes.append(df.iloc[i,i])
        df.iloc[i,i] = 0
    return sizes, df

In [146]:
def percent(sizes, df):
    df = df.copy()
    size = df.shape[0]
    for i in range(size):
        df.iloc[i,:] = df.iloc[i,:]/sizes[i]
    return df

In [147]:
matrix2 = df_plot2.T.dot(df_plot2)
matrix2.head()

,sql,python,r,tensorflow,pytorch,deep learning,machine learning,spark,statistics,aws,...,etl,matlab,scikit,numpy,keras,computer vision,language,tableau,looker,powerbi
sql,1053,468,292,22,11,29,102,46,11,99,...,137,11,24,16,3,8,144,245,45,394
python,468,887,418,90,58,102,283,97,12,169,...,68,38,57,49,14,56,207,142,32,157
r,292,418,534,25,15,45,122,24,11,42,...,21,30,10,15,3,18,122,99,10,117
tensorflow,22,90,25,98,52,47,65,18,1,23,...,4,5,34,27,14,27,24,3,0,4
pytorch,11,58,15,52,63,30,42,7,1,12,...,3,3,23,18,13,26,17,1,0,1

In [148]:
maxi, matrix_2_2 = create_zeros(matrix2)
matrix_2_3 = percent(maxi, matrix_2_2)

In [157]:
names = list(matrix_2_2.columns)
matrix_2_2 = matrix_2_2.values.tolist()
matrix_2_3 = matrix_2_3.values.tolist()

In [133]:
matrix = df_plot.corr()
matrix[matrix < 0] = 0
matrix = matrix.multiply(100).astype(int)
matrix[matrix == 100] = 0
matrix = matrix.values.tolist()
names = list(df_plot.columns)

In [134]:
width = 1000

In [159]:
names = [f'{i}: {j}' for i,j in zip(names,maxi)]

In [ ]:
<iframe width = "1000" height="1000" seamless frameborder="0" scrolling = "no" src="./images/hard_skills_chord.html"></iframe>

In [161]:
plot = Chord(matrix_2_2,names,
                    colors="d3.schemePaired",
                    opacity=0.7,
                    padding=0.05,
                    width=width,
                    label_color="#454545",
                    wrap_labels=False,
                    margin=0,
                    credit=False,
                    font_size="12px",
                    font_size_large="14px").to_html()

IFrame(src="./out.html", width=width, height=width)

In [87]:
plot = Chord(matrix_2_3,names,
                    colors="d3.schemePaired",
                    opacity=0.7,
                    padding=0.05,
                    width=width,
                    label_color="#454545",
                    wrap_labels=False,
                    margin=0,
                    credit=True,
                    font_size="14px",
                    font_size_large="16px").to_html()
IFrame(src="./out.html", width=width, height=width)